{% extends "AdminBundle:Default:template.html.twig" %}
{% block content %}
            <div class="row">
                <button class="button-articles" id="modify">Modifier article</button>
            </div>
            <br>
            <div class="card mb-3" id="liste_articles">
                <div class="card-header">
                    <i class="fa fa-table"></i> Liste articles</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date de création</th>
                                <th>Titre</th>
                                <th>Détail</th>
                                <th>Image</th>
                                <th>Visible</th>
                                <th>Description</th>
                                <th>Modifier</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td>{{ article.id }}</td>
                                    <td>{{ article.dateCreation|date('d/m/Y') }}</td>
                                    <td>{{ article.title }}</td>
                                    <td>{{ article.detail }}</td>
                                    <td>{{ article.image }}</td>
                                    <td>{{ article.visible }}</td>
                                    <td>{{ article.description }}</td>
                                    <td><a href="adminArticle/id={{ article.id }}"><button>Modifier</button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="{{ path('create_article') }}"><button class="button-articles">Créer article</button></a>
            </div>
        </div>
{% endblock %}
