<section class="quiz" data-title="{{ quiz.label }}" data-subtitle="{{ quiz.description }}" data-certified="{{ quiz.certified }}">
    {% for question in questions %}
    <section class="question">
        <section class="text">
            {{ question.label }}
        </section>
        {% for option in question.options %}
        <section class="answer" {% if option.answer %} data-correct {% endif %}>{{ option.value }}</section>
        {% endfor %}
        {% if question.description != null %}
        <section class="description">{{ question.description }}</section>
        {% endif %}
        {% if question.hint != null %}
        <section class="hint">{{ question.hint }}</section>
        {% endif %}
    </section>
    {% endfor %}
</section>
